#red {
  background-color: red;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#title {

}

.color {
  display: inline-block;
  width:45px;
  height:45px;
  border: 1px solid;
  border-color: black;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-color: black;
  display: inline-block;
}

.selected {
  
}